{
  "log": {
    "level": "warn"
  },
  "dns": {
    "servers": [
      {
        "type": "udp",
        "tag": "adguard-home",
        "server": "172.30.0.53",
        "server_port": 53,
        "detour": "proxy"
      },
      {
        "type": "local",
        "tag": "dns-local"
      }
    ],
    "rules": [
      {
        "domain": [
          "captive.apple.com",
          "connectivitycheck.gstatic.com",
          "connectivitycheck.android.com",
          "www.msftconnecttest.com",
          "www.msftncsi.com",
          "dns.msftncsi.com",
          "detectportal.firefox.com"
        ],
        "domain_suffix": [
          ".clients3.google.com"
        ],
        "server": "dns-local"
      }
    ],
    "strategy": "ipv4_only"
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "tun-in",
      "address": [
        "172.18.0.1/30"
      ],
      "auto_route": true,
      "strict_route": true,
      "stack": "system"
    }
  ],
  "outbounds": [
    {
      "type": "vless",
      "tag": "proxy",
      "server": "${VPS_IP}",
      "server_port": 443,
      "uuid": "${VLESS_UUID}",
      "flow": "xtls-rprx-vision",
      "tls": {
        "enabled": true,
        "server_name": "dl.google.com",
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        },
        "reality": {
          "enabled": true,
          "public_key": "${REALITY_PUBLIC_KEY}",
          "short_id": "${REALITY_SHORT_ID}"
        }
      }
    },
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "rules": [
      {
        "action": "sniff"
      },
      {
        "protocol": "dns",
        "action": "hijack-dns"
      },
      {
        "domain": [
          "captive.apple.com",
          "connectivitycheck.gstatic.com",
          "connectivitycheck.android.com",
          "www.msftconnecttest.com",
          "www.msftncsi.com",
          "dns.msftncsi.com",
          "detectportal.firefox.com"
        ],
        "domain_suffix": [
          ".clients3.google.com"
        ],
        "outbound": "direct"
      }
    ],
    "final": "proxy",
    "default_domain_resolver": "dns-local",
    "auto_detect_interface": true
  }
}
