{
  "log": {
    "level": "error",
    "timestamp": true
  },
  "inbounds": [
    {
      "type": "shadowsocks",
      "tag": "ss-in",
      "listen": "::",
      "listen_port": 443,
      "network": "tcp",
      "method": "2022-blake3-aes-128-gcm",
      "password": "${SS_PASSWORD}"
    }
  ],
  "endpoints": [
    {
      "type": "wireguard",
      "tag": "wg-home",
      "system": false,
      "mtu": 1408,
      "address": [
        "10.10.0.1/32"
      ],
      "private_key": "${VPS_WG_PRIVATE_KEY}",
      "listen_port": 51820,
      "peers": [
        {
          "public_key": "${HOME_WG_PUBLIC_KEY}",
          "allowed_ips": [
            "0.0.0.0/0",
            "::/0"
          ],
          "persistent_keepalive_interval": 25
        }
      ]
    }
  ],
  "route": {
    "rules": [
      {
        "inbound": [
          "ss-in"
        ],
        "outbound": "wg-home"
      }
    ],
    "final": "wg-home"
  }
}
